.blog-container {
  margin: 100px 0;
  /* border: 1px solid red; */
  /* padding: 0 10vw; */
}

.top-blog-container {
  background-color: #262626;
  padding: 20px 30px;
  text-align: center;
}

.sub-header-blog-container {
  padding: 0 10vw;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-header-blog-search {
  display: flex;
  align-items: center;
}

.blog-input-search-container input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-container {
  overflow: hidden;
}

.search-input {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #A6A6A6;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
  background-color: #262626;
  color: #FFFFFF;
}

.search-input:focus {
  border-color: #904BBE !important;
}

.search-input:focus {
  border-color: #007bff;
}

.icon-button {
  padding: 6px;
  border: none;
  background: #262626;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  background: #e0e0e0;
  color: #262626;
}

@media screen and (max-width: 992px) {
  .search-wrapper {
    flex-direction: row-reverse;
  }

  .sub-header-blog-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
  }
}

.sub-header-blog-menus {
  
}

.sub-header-blog-menus ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.sub-header-blog-menus button {
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}

.blog-content-container {
  padding: 0 10vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.blog-content-item {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid #A6A6A6;
  border-radius: 20px;
  cursor: pointer;
}

.blog-content-item-image-container,
.blog-content-item-text-container {
  width: 50%;
}

.blog-content-item-image-container img,
.blurhash-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.blog-content-item-text-container {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-content-item-text-top {
  color: #A6A6A6;
}

.blog-content-item-text-top h6 {
  font-size: 16px;
}

.blog-content-item-text-top p {
  font-size: 14px;
}

.blog-content-item-text-mid {
  color: #FFFFFF;
}

.blog-content-item-text-mid h2 {
  font-size: 28px;
}

.blog-content-item-text-mid p {
  margin-top: 10px;
}

.blog-content-item-text-bottom {
  border-top: 1px solid #FFFFFF;
  margin-top: auto;
}

.blog-content-item-text-bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.blog-content-item-text-bottom ul li {
  color: #A6A6A6;
}

@media only screen and (max-width: 992px) {
  .blog-content-item {
    display: flex;
    width: 100%;
    height: 400px;
    border: 1px solid #A6A6A6;
    border-radius: 20px;
    cursor: pointer;
  }

  .blog-content-item-text-mid h2 {
    font-size: 20px;
  }
  
  .blog-content-item-text-mid p {
    font-size: 16px;
  }

  .blog-content-item-image-container img {
    border-radius: 20px 20px 0 0;
  }
}

@media only screen and (max-width: 800px) {
  .blog-content-item {    
    height: auto;
    flex-direction: column;
  }


  .blog-content-item-image-container,
  .blog-content-item-text-container {
    width: 100%;
  }
}