.main-container {
  display: flex;
  flex-direction: column;  
}

.top-site-container {
  padding: 0 10vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.top-site-see-projects-button {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-site-see-projects-button button {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.my-career-container {
  background-color: #262626;  
  margin-top: 5vh;
}

.my-projects-container {
  background-color: #0D0D0D;
  padding: 5vh 10vw;
}

.my-projects-title-container {
  margin-bottom: 3vh;
}

.my-projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  text-align: center;
}
