.jada-error-main-container {
  margin-top: 150px;
}

.jada-error-top-container {
  text-align: center;
}

.jada-error-top-container h1 {
  color: #A6A6A6;
  font-size: 48px;
}

.jada-error-top-container h2 {
  color: #A6A6A6;
  font-size: 24px;
}

.jada-error-content-container {
  margin-top: 100px;
}

.jada-error-content-container p {
  font-size: 18px;
  color: #EEEEEE;
  line-height: 1.5;
}

.jada-error-content-container {
  padding: 0 20vw;
}

@media only screen and (max-width: 750px) {
  .jada-error-content-container {
    padding: 0 10vw;
  }

  .jada-error-top-container h1 {
    font-size: 32px;
  }
}